@inherits LayoutComponentBase
@using EsheChatService.Services
@inject ChatSessionManager SessionManager

<div class="page">
    <div class="sidebar @(IsCollapsed ? "collapsed" : "")">
        <NavMenu @bind-IsCollapsed="IsCollapsed" @ref="_navMenu" />
    </div>

    <main @onclick="OnMainClicked">
        <article class="content">
            @Body
        </article>
    </main>

    <Toaster />
</div>

@code {
    private bool IsCollapsed = false;
    private NavMenu _navMenu = default!;

    protected override async Task OnInitializedAsync()
    {
        await SessionManager.LoadAsync();
    }

    private void OnMainClicked()
    {
        _navMenu?.CloseMenus();
    }
}